.cardItems {
  margin: 32px 0px 24px;
}

.inputWithTooltip {
  display: flex;
  align-items: center;
}

.submit {
  margin: 24px 0px 16px;
  border-radius: 18px;
}

.formContainer {
  width: 100%;
  margin-top: 8px;
}

@media screen and (min-width: 600px) {
  .formContainer {
    width: 70% !important;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .submit2 {
    margin-top: -30px;
  }
}
