.registerContainer {
  padding-top: 64px;
}

.registerPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  width: 100%;
  margin-top: 16px;
}

.registerSubmit {
  margin: 24px 0px 16px;
}

.registerLogo {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 24px;
}

.registerTextField {
  min-height: 5rem;
  margin: 8px 0px;
}

.registerInvalidText {
  font-size: 12px;
  color: var(--color-palette-error-main);
}

.registerValidText {
  font-size: 12px;
  color: var(--color-palette-success-main);
}
