.registerContainer {
  padding-top: 64px;
}

.registerPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm {
  width: 100%;
  margin-top: 16px;
}

.registerSubmit {
  margin: 24px 0px 16px;
}

.registerLogo {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 24px;
}

.registerTextField {
  min-height: 5rem;
  margin: 8px 0px;
}

.registerTextField2 {
  min-height: 5rem;
  margin: 0px 0px;
}

.registerNumberInput input::-webkit-outer-spin-button,
.registerNumberInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.registerNumberInput input[type="number"] {
  -moz-appearance: textfield;
}

.registerInvalidText {
  font-size: 12px;
  color: var(--color-palette-error-main);
}

.registerValidText {
  font-size: 12px;
  color: var(--color-palette-success-main);
}

@media screen and (max-width: 960px) {
  .registerTextField2 {
    margin: 8px 0px;
  }
}
