@import "styles";

.profile {
  height: 100%;
  display: flex;
  flex: 1;
  background-color: $background-secondary-color;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin: rem-calc(0 24);
  }
}
