.invoiceContainer {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.invoiceContainer2 {
  justify-content: flex-end;
}

.invoiceHeading {
  font-weight: bold;
}

.invoiceDownloadIcon {
  margin-top: 0;
  margin-left: 10px;
  rotate: 90deg;
  color: var(--color-palette-primary-main);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.invoiceMonths {
  width: 192px;
  margin-top: 8px;
  margin-left: 20px;
}

.invoiceMonths .MuiOutlinedInput-input {
  padding: 8px 28px 8px 16px;
}

.invoiceMonths .MuiFormLabel-root {
  margin-top: -8px;
}

.invoiceMonths .Mui-focused {
  margin-top: 0 !important;
}

.invoiceMonthsValue {
  width: 192px;
  margin-top: 8px;
  margin-left: 20px;
}

.invoiceMonthsValue .MuiOutlinedInput-input {
  padding: 8px 28px 8px 16px;
}

.invoiceEmptyText {
  font-size: 20px;
  font-weight: 700;
  margin-top: 100px;
  text-align: center;
}

.invoiceDetailsContainer {
  margin-top: 50px;
  border: 1.5px solid var(--color-palette-background-light);
  border-radius: 10px;
  position: relative;
  justify-content: center;
}

.invoiceDetailsHeader {
  position: absolute;
  top: -10px;
  padding: 0 10px;
  background: var(--color-palette-background-default);
  font-size: 12px;
  color: var(--color-palette-background-dark);
}

.invoiceChargesContainer {
  padding: 20px;
  padding-bottom: 0;
}

.invoiceChargesTitle {
  font-size: 13px;
  font-weight: 600;
  color: var(--color-palette-background-light3);
}

.invoiceMsgText {
  color: var(--color-palette-background-light3);
  font-size: 13px;
}

.invoiceOrderListContainer {
  width: 100%;
  padding: 20px 0;
}

.invoiceOrderListItemContainer {
  margin-top: 8px;
  border-bottom: 1.5px solid var(--color-palette-background-light);
}

.invoiceOrderListItemContainer:last-child {
  border-bottom: 0;
}

.invoiceOrderListItemSubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.invoiceTextInput {
  width: 80px;
  margin-left: 8px;
}

.invoiceTextInput .MuiInputAdornment-root {
  margin-right: -8px;
  margin-left: -10px;
}

.invoiceTextInput .MuiOutlinedInput-input {
  padding: 4px 8px;
  font-size: 13px;
}

.invoiceEditIcon {
  width: 16px;
  height: 16px;
  color: var(--color-palette-primary-main);
}

.invoiceDivider {
  width: 1.5px;
  background: var(--color-palette-background-light);
  margin: 20px 0;
}

.invoiceShipmentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.invoiceOrderDataEmptyText {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.invoiceShipmentDataEmptyText {
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}

.invoiceTotalChargesTitle {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-palette-background-black);
}

@media screen and (max-width: 600px) {
  .invoiceContainer2 {
    justify-content: center;
    margin-top: 20px;
  }
}