.select-component {
  display: flex;
  flex-direction: column;
}

.select-component .label {
  display: block;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  margin-bottom: -0.85rem;
  padding: 0.25rem 0.75rem;
  z-index: 9;
  background: #ffffff;
  width: fit-content;
}

.info {
  display: block;
  font-size: 0.65rem;
  margin-left: 0.5rem;
  color: #757575;
  width: fit-content;
}

.select-component.select-component--large select {
  /*font-size: 1.2rem;*/
  padding: 0.5rem 1rem;
  margin-bottom: 0.125rem;
}

.form-select {
  border-color: #f9943b !important;
}
