.modalRoot {
  margin: 0px;
  padding: 16px;
}

.modalCloseButton {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--color-palette-background-dark);
}

.modalTitle {
  font-weight: bold;
  text-align: center;
  padding-top: 24px;
}
