.usersIconDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersIconButton {
  color: var(--color-palette-primary-dark);
}

.usersIconButton:hover {
  background-color: var(--color-palette-primary-light);
}

.addOrganizationFormContainer {
  width: 100%;
  margin-top: 8px;
}

.addOrganizationSubmit {
  margin-top: 24px;
}

.addUserFormContainer {
  width: 100%;
  margin-top: 8px;
}

.addOrganizationNumberInput input::-webkit-outer-spin-button,
.addOrganizationNumberInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.addOrganizationNumberInput input[type="number"] {
  -moz-appearance: textfield;
}

.addOrganizationIconContainer {
  display: flex;
  align-items: center;
}

.addOrganizationIcons {
  margin-right: 10px;
  fill: var(--color-palette-background-dark);
  opacity: 0.7;
}

.addResellerTitle {
  margin-top: 20px;
  font-size: 18px;
}

.addResellerCustomersCancel {
  margin-top: 4px;
  margin-left: -25px;
  fill: var(--color-palette-background-light);
}