.datePickerRoot {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-top: 16px;
}

.datePickerRoot .MuiFormControl-root {
  width: 100%;
}

.popperSx .MuiPaper-root {
  border: 0px;
  padding: 2px;
  margin-top: 1px;
  background-color: var(--color-palette-background-default);
}

.popperSx .MuiCalendarPicker-root {
  background-color: var(--color-palette-primary-default);
}

.popperSx .MuiPickersDay-dayWithMargin {
  color: var(--color-palette-background-black);
  background-color: var(--color-palette-background-default);
}

.popperSx .MuiPickersDay-dayWithMargin:hover {
  background-color: var(--color-palette-background-light4);
}

.popperSx .Mui-selected {
  color: var(--color-palette-background-default);
  background-color: var(--color-palette-primary-main) !important;
}

.popperSx .Mui-selected:hover {
  background-color: var(--color-palette-primary-dark) !important;
}

.popperSx .MuiTabs-root {
  background-color: var(--color-palette-background-black);
}