.topbarAppBar {
  background-color: var(--color-palette-background-default);
  z-index: 1201;
  height: 64px;
  overflow-x: auto;
}

.topbarMenuButton {
  margin-right: 16px;
}

.topbarLogo {
  max-width: 250px !important;
  background-size: contain;
}

.topbarMenuRight {
  margin-left: auto;
  display: flex;
}

.topbarTimezone {
  width: 192px;
  margin-top: 8px;
  margin-left: 12px;
}

.topbarTimezone .MuiOutlinedInput-input {
  padding: 8px 28px 8px 16px;
}

.topbarAdminMenuRoot {
  padding: 16px;
  text-align: center;
}

.topbarAdminMenuRoot:hover {
  background-color: var(--color-palette-primary-light);
}

.topbarAdminMenuRoot:hover .MuiListItemIcon-root .MuiListItemText-primary {
  color: var(--color-palette-primary-dark);
}

.MuiMenu-paper {
  border: 1px solid var(--color-palette-background-light2);
}

@media screen and (max-width: 600px) {
  .topbarAppBar {
    height: 56px;
    overflow-x: auto;
  }
}

/* Account Settings css */
.accountSettingsDialogContent {
  padding: 0;
  padding-bottom: 80px;
}

.accountSettingsUserIconName {
  padding: 32px;
  border-bottom: 1px solid var(--color-palette-background-light);
}

.accountSettingsPersonalNotification {
  padding: 32px 88px;
  border-bottom: 1px solid var(--color-palette-background-light);
}

.accountSettingsNumberInput input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.accountSettingsNumberInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.accountSettingsNumberInput input[type="number"] {
  -moz-appearance: textfield;
}

.accountSettingsDialogTitle {
  border-bottom: 4px solid var(--color-palette-background-light);
}

.accountSettingsCloseIcon {
  margin-right: 16px;
}

.accountSettingsStatusAlerts {
  padding-top: 32px !important;
}

.accountSettingsEnvAlerts {
  padding-top: 64px !important;
}

.accountSettingSpacing {
  height: 50px;
}

@media screen and (min-width: 960px) {
  .accountSettingsDialog .MuiDialog-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    margin-top: 64px;
  }

  .accountSettingsDialog .MuiDialog-paper {
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .accountSettingsDialog .dialogContent {
    padding-bottom: 120px;
  }
}

/* Alert notifications css */
.topBarNotifications .MuiBadge-badge {
  right: 25%;
  top: 25%;
}

.alertNotificationsCloseIcon {
  float: right;
}

.alertNotificationsDialogTitle {
  border-bottom: 4px solid var(--color-palette-background-light);
}

.alertNotificationsCount {
  border-radius: 25px;
}

.alertNotificationsShipmentName {
  text-decoration: underline;
  text-decoration-color: var(--color-palette-background-light);
  cursor: pointer;
}

.alertNotificationsSummary .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: none;
}

.alertNotificationsSummaryBadge {
  border-radius: 50%;
  background-color: var(--color-palette-error-main);
  width: 16px;
  height: 16px;
  align-self: center;
  margin-right: 8px;
}

@media screen and (min-width: 960px) {
  .alertNotificationsDialog .MuiDialog-container {
    position: fixed;
    right: 0;
    width: 50%;
    margin-top: 64px;
  }

  .alertNotificationsDialog .MuiDialog-paper {
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .alertNotificationsDialog .dialogContent {
    padding-bottom: 120px;
  }
}
