.custodianFormContainer {
  width: 100%;
  margin-top: 8px;
}

.custodianInputWithTooltip {
  display: flex;
  align-items: center;
}

.custodianRow {
  align-items: flex-start !important;
  flex-direction: column;
}

.custodianAddressContainer {
  margin-top: 32px;
  padding-bottom: 8px;
}

.custodianPhoneLabel {
  margin-bottom: -12px;
  margin-left: 14px;
  color: var(--color-palette-background-dark5);
}

.custodianPhoneInput {
  width: 100% !important;
  height: 54px !important;
  border: 0px !important;
  font-family: "IBM Plex Sans" !important;
  font-size: 16px !important;
  padding-left: 62px !important;
}

.custodianPhoneInputFocused {
  width: 100% !important;
  height: 54px !important;
  border: 0px !important;
  font-family: "IBM Plex Sans" !important;
  font-size: 16px !important;
  padding-left: 62px !important;
}

.custodianPhoneInputContainerFocused {
  margin-top: 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 2px solid var(--color-palette-primary-main);
}

.custodianPhoneInputContainer {
  margin-top: 16px;
  margin-bottom: 8px;
  border-radius: 4px !important;
  border: 1px solid var(--color-palette-background-light) !important;
}

.custodianFlagDropdown {
  border: 0px !important;
  border-right: 1px solid var(--color-palette-background-light) !important;
}

.custodianFlagDropdown .selected-flag {
  padding: 0 12px !important;
  width: 48px !important;
}

.custodianAddressPredictions {
  background: var(--color-palette-background-default);
  width: 100%;
  margin-left: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px var(--color-palette-background-light2);
}

.custodianAddressPredictionsItem {
  text-wrap: auto;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-palette-background-light);
}

.custodianAddressPredictionsItem:last-child {
  border-bottom: 0px;
}

.custodianSubmit {
  margin: 24px 0px 16px;
  border-radius: 18px;
}

@media screen and (min-width: 600px) {
  .custodianFormContainer {
    width: 70% !important;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .custodianSubmit2 {
    margin-top: -30px;
  }
}