.release-summary-container {
  height: 60% !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.chart-container {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 12px;
  width: 32%;
  text-align: -webkit-center;
}

.tab-content {
  border: 1px solid #e0e0e0;
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 8px;
}

.toolbar-header {
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.release-summary {
  display: flex;
  flex-direction: column;
  place-content: center space-evenly;
}

.release-summary-entry {
  height: 100%;
  display: flex;
  flex-direction: row;
  place-content: center space-between;
  align-items: center;
  /*margin: 16px;*/
  /*border-bottom: 1.5px solid #d4d4d4;*/
}

.summary-container {
  margin: 16px;
}
