@import "styles";

.top-bar {
  height: rem-calc(60);
  max-height: rem-calc(60);
  display: flex;
  background-color: $background-primary-color;
  transition: all linear 0.3s;
  z-index: 3;

  &--hidden {
    max-height: 0;
    overflow: hidden;
    margin-bottom: rem-calc(40);

    .top-bar {
      &__menu {
        &__icon {
          background-color: $primary-color;
        }
      }
      &__bar {
        background-color: $white;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    padding: rem-calc(0 20);
    box-sizing: border-box;
    width: rem-calc(220);
    border-right: rem-calc(1) solid $gray-lighter;
  }

  &__menu {
    position: fixed;
    top: rem-calc(12);
    left: rem-calc(20);
    z-index: 99;
    height: rem-calc(32);
    width: rem-calc(32);
    display: flex;

    &__icon {
      position: relative;
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem-calc(4);
      background-color: $white;
      box-shadow: 0 rem-calc(2) rem-calc(3) 0 rgba($black, 0.12);
    }
  }
  
  &__bar {
    height: rem-calc(2);
    background-color: $primary-color;
    width: rem-calc(16);

    &:not(:last-of-type) {
      margin-bottom: rem-calc(4);
    }
  }

  &__menu-container {
    height: rem-calc(32);
    width: rem-calc(32);
    margin-right: rem-calc(8);
    cursor: pointer;
  }

  &__title {
    font-size: rem-calc(14);
    line-height: rem-calc(18);
    text-align: center;
  }

  &__logo {
    height: rem-calc(32);
    margin-right: rem-calc(8);
  }

  &__container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: rem-calc(8 0);
  }

  &__search {
    $search-size: rem-calc(40);
    display: flex;
    padding: rem-calc(0 40);
    &__input {
      border-radius: rem-calc(4 0 0 4);
      height: $search-size - rem-calc(2);
      width: rem-calc(240);
      border: rem-calc(1) solid transparent;
      padding: rem-calc(0 10);
      font-size: rem-calc(16);
      outline: none;

      &:focus {
        border-color: $primary-color;
      }
    }

    &__submit {
      height: $search-size;
      width: $search-size;
      background-color: $primary-color;
      border: rem-calc(1) solid transparent;
      color: $white;
      font-weight: bold;
      border-radius: rem-calc(0 4 4 0);
      cursor: pointer;
      outline: none;

      img {
        height: rem-calc(18);
        width: rem-calc(18);
      }

      &:hover {
        background-color: darken($primary-color, 5);
      }
    }
  }
}
