.releases-list-header {
  max-width: 100% !important;
  /*padding: 16px 24px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  /*box-sizing: border-box;*/
}

.chart-container {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 4px;
}
