.resetPasswordContainer {
  padding-top: 64px;
}

.resetPasswordPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordForm {
  width: 100%;
  margin-top: 8px;
}

.resetPasswordLogo {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 24px;
}

.resetPasswordTextField {
  min-height: 5rem;
  margin: 8px 0px;
}
