.resetPasswordContainer {
  padding-top: 64px;
}

.resetPasswordPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordForm {
  width: 100%;
  margin-top: 8px;
}

.resetPasswordLogo {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 24px;
}

.resetPasswordTextField {
  min-height: 5rem;
  margin: 8px 0px;
}

.resetPasswordInvalidText {
  font-size: 12px;
  color: var(--color-palette-error-main);
}

.resetPasswordValidText {
  font-size: 12px;
  color: var(--color-palette-success-main);
}

.verificationContainer {
  padding-top: 64px;
}

.verificationPaper {
  display: flex;
  flex-direction: column;
}

.verificationIcon {
  color: var(--color-palette-primary-main);
  font-size: 6rem;
  margin-bottom: 16px;
  align-self: center;
}

.verificationButton {
  margin-top: 16px;
  margin-bottom: 4px;
  align-self: center;
}
