/* Admin Panel Styles */

.adminPanelHeading {
  font-weight: bold;
  margin: 0.5em 0em;
}

/* Configuration, Consortium and ImportExport Page Styles */
.adminPanelRoot {
  width: 100%;
  margin-top: 48px;
  padding: 0px;
  margin-bottom: -24px;
}

.adminPanelAccordion {
  margin-bottom: 32px;
  overflow: scroll hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.adminPanelAccordion::-webkit-scrollbar {
  display: none;
}

/* Add and Edit Sections Styles */
.adminPanelSubmit {
  margin: 24px 0px 16px;
  border-radius: 18px;
}

.adminPanelFormContainer {
  width: 100%;
  margin-top: 8px;
}

@media screen and (min-width: 600px) {
  .adminPanelFormContainer {
    width: 70% !important;
    margin: auto;
  }
}

/* Organization Settings Page Styles */
.adminPanelOrgRoot {
  width: 100%;
  margin: 2px 0px 2px 2px;
}

.adminPanelOrgFormContainer {
  width: 100%;
  margin-top: 16px;
}

.adminPanelCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
}

.adminPanelLabel {
  margin-left: 16px !important;
  font-size: 0.9rem;
}

.adminPanelNumberInput input::-webkit-outer-spin-button,
.adminPanelNumberInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.adminPanelNumberInput input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 600px) {
  .adminPanelOrgFormContainer {
    width: 70% !important;
    margin: auto;
  }
}

/* Import Export Sections Styles */
.adminPanelFormRoot {
  width: 90%;
  margin: auto;
  margin-top: 8px;
}

.adminPanelApiResponse {
  width: 100%;
  background-color: var(--color-palette-secondary-main);
  overflow: wrap;
  white-space: normal;
  word-break: break-word;
}

.adminPanelTitle {
  margin: 16px 0px;
  text-align: center;
}

.adminPanelTableColumn {
  background-color: var(--color-palette-primary-dark);
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.adminPanelMapCol {
  margin-bottom: 24px;
}

.adminPanelApiMenuItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
