.dataTable .MuiPaper-root>.MuiToolbar-root div:nth-child(2) {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dataTable .MuiPaper-root>.MuiToolbar-root div:nth-child(1) {
  padding-right: 15%;
}

.dataTable .MuiPaper-root>.MuiToolbar-root div:nth-child(2) button:nth-child(2) {
  order: 99;
}

.dataTable .reportingSensorDataTable>.MuiToolbar-root {
  padding-bottom: 30px;
}

.dataTableDashboardHeading {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.dataTableIconButton {
  padding: 0;
  color: var(--color-palette-primary-dark);
}

.dataTableIconButton:hover {
  background-color: var(--color-palette-primary-light);
}

.dataTableBody {
  background: var(--color-palette-background-default) !important;
}

.dataTableBody:hover {
  background-color: none;
}

.dataTable .MuiPaper-root>.MuiToolbar-root {
  background-color: var(--color-palette-primary-dark);
}

.dataTable .MuiPaper-root>.MuiToolbar-root .MuiSvgIcon-root {
  fill: var(--color-palette-background-default);
}

.dataTable tr>th {
  background-color: var(--color-palette-primary-light);
}

.dataTable .MuiTableFooter-root {
  background-color: var(--color-palette-primary-light);
}

.dataTableUploadInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: 'nowrap';
  width: 1;
}

@media screen and (min-width: 600px) {
  .dataTable .MuiPaper-root>.MuiToolbar-root div:nth-child(2) {
    position: absolute;
    display: contents;
  }

  .dataTable .reportingSensorDataTable>.MuiToolbar-root {
    padding-top: 12px;
  }

  .dataTableDownloadUploadFlex {
    justify-content: flex-end;
  }

  #dataTableUploadButton {
    margin-left: 16px;
  }
}

@media screen and (max-width: 600px) {
  .dataTableDownloadUploadFlex {
    flex-direction: column;
    margin-top: 16px;
  }

  #dataTableUploadButton {
    margin-top: 16px;
  }
}