@import "styles";

.menu {
  right: rem-calc(-90);
  top: rem-calc(68);
  width: rem-calc(180);
  position: absolute;
  box-shadow: rem-calc(0 2 8 0) rgba($black, 0.2);
  border-radius: rem-calc(4);
  background-color: $white;
  cursor: pointer;
  display: none;
  color: $gray-medium-darker;
  z-index: 3;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    flex: 1;
    align-items: center;
    height: rem-calc(40);
    padding: rem-calc(0 10);
    font-size: rem-calc(16);
    line-height: rem-calc(20);

    &:hover {
      background-color: rgba($primary-color, 0.17);
    }
  }

  &--open {
    display: block;
  }
}
