.containerRoot {
  height: 100%;
}

.content {
  flex-grow: 1;
  height: 100%;
  padding-top: 5.25em;
  margin-bottom: -12px;
}

.contentMaxWidth {
  width: calc(100vw - 240px);
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .containerRoot {
    display: flex;
  }
}
