@import "styles";

.register {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__card {
    background-color: $white;
    box-shadow: 0 rem-calc(2) rem-calc(3) 0 rgba($black, 0.12);
    padding: 1.5rem;
    width: rem-calc(320);
    
    &__logo {
      display: block;
      width: rem-calc(100);
      margin: rem-calc(30) auto;
    }
    
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__form {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &__field {
      margin-bottom: rem-calc(15);
      display: flex;
      flex-direction: column;
    }

    &__label {
      font-size: rem-calc(12);
    }

    &__input {
      margin-top: rem-calc(4);
      border: rem-calc(1) solid $gray-lighter;
      border-radius: rem-calc(4);
      height: rem-calc(40);
      font-size: rem-calc(15);
      box-sizing: border-box;
      padding: rem-calc(8 12);
      transition: all 0.2s linear;
      outline: none;

      &:focus {
        border-color: $primary-color;
      }
    }

    &__link {
      text-decoration: none;
      color: $primary-color;
      font-size: rem-calc(12);

      &:hover {
        text-decoration: underline;
      }
    }

    &__spacer {
      min-height: rem-calc(18);
      margin-bottom: rem-calc(15);
    }

    &__error {
      color: $danger-color;
    }

    &__submit {
      background-color: $primary-color;
      border: none;
      border-radius: rem-calc(4);
      height: rem-calc(40);
      padding: rem-calc(0 12);
      transition: all 0.2s linear;
      font-weight: 600;
      color: $white;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: darken($primary-color, 5);
      }

      &:disabled {
        background-color: $gray-light;
        color: $gray;
        cursor: default;
      }
    }
  }
}
